<ion-header [translucent]="true">
   <ion-toolbar>
      <ion-title>
         Tarefas
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-text>
      <h3 class="title">Hoje</h3>
   </ion-text>
   <app-card *ngIf="tasks.length > 0" [getTasks]="getTasks" [tasks]="tasks"></app-card>
   <ion-text *ngIf="tasks.length == 0" style="color: #222428">
      <p>Não há tarefas para hoje, adicione uma!s</p>
   </ion-text>
</ion-content>
<ion-button (click)="callModal()" type="submit" size="full" style="height: 4em">Adicionar Tarefa</ion-button>